In [1]:
import os 
cwd = os.getcwd()

os.chdir('../')
cwd = os.getcwd()
print(cwd)
 
os.chdir('./code/')
cwd = os.getcwd()
print(cwd)

import pandas as pd 
import numpy as np 
import seaborn as sns

import pickle 
import logging


from config.config import SQLQuery
querySno = SQLQuery('snowflake')

/Users/shashankgupta/Documents/code/git_project/re_decisioning
/Users/shashankgupta/Documents/code/git_project/re_decisioning/Code

In [2]:
import sys
sys.path.insert(0, '/Users/sarfrazahmed/Documents/projects/deposit-model/conf')
import pandas as pd
import numpy as np
import chart_studio.plotly as py 
from datetime import timedelta
import cufflinks as cf
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import plotly.io as pio
from pandas_profiling import ProfileReport
pio.templates.default = 'plotly_dark'
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
color_map = {'high': '#ef553b', 'low': '#636efa'}
import datetime
import pytz

In [3]:
from sklearn.cluster import KMeans
from sentence_transformers import SentenceTransformer

In [4]:
cwd = os.getcwd()
print(cwd)

/Users/shashankgupta/Documents/code/git_project/re_decisioning/Code

In [5]:

# Load the transaction data
df = pd.read_csv('../Data/Transaction_data.csv')

In [6]:
df.head()

                           DESC
0           Wal-Mart Super Cent
1      AMAZON.COM HC AMAZON.COM
2  PHILIPPINES AIRASIA Pasay PH
3   MYSOCIALBOUTIQUE.CO MUNCHEN
4                     UBER TRIP

In [7]:
df.shape

(59092, 1)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(df, test_size=0.2, random_state=42)

In [19]:
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)

In [14]:

# Load the pre-trained BERT model for embedding the text
model = SentenceTransformer('bert-base-nli-mean-tokens')

# Embed the text using BERT model
train_embeddings = model.encode(X_train['DESC'], show_progress_bar=True)

Batches:   0%|          | 0/1478 [00:00<?, ?it/s]

In [64]:

# Perform K-means clustering
kmeans = KMeans(n_clusters=4, random_state=42).fit(train_embeddings)

# Add the cluster labels to the original data frame
X_train['cluster_label'] = kmeans.labels_

# Print the count of transactions in each cluster
print(X_train['cluster_label'].value_counts())

1    25045
2    10717
0     8934
3     2577
Name: cluster_label, dtype: int64

In [65]:
X_train.head()

                            DESC  cluster_label
0  INTUIT -- QBooks Onl ID NBR:               1
1   CASH APP ZION C SQUAREUP.COM              2
2                PARADISE QUICKS              1
3         Speedway  Merchants St              0
4             MD DEPT ASSMNT/TAX              2

In [67]:
X_train[X_train['cluster_label']==3].sample(20)

                                  DESC  cluster_label
8806         AMAZON.COM HSA AMAZON.COM              3
30178        AMAZON.COM HYB AMAZON.COM              3
47053         AMAZON.COM HA AMAZON.COM              3
13265        AMAZON.COM HCQ AMAZON.COM              3
14376        AMAZON.COM ITW AMAZON.COM              3
46292        AMAZON.COM HDW AMAZON.COM              3
31468        AMAZON.COM HYS AMAZON.COM              3
16158         AMAZON.COM HK AMAZON.COM              3
3789         AMAZON.COM ZCK AMAZON.COM              3
4697          AMAZON.COM DS AMAZON.COM              3
33981                 Amazon Digit KFY              3
42965  Amazon Prime HPGI Amzn.com/bill              3
45779               AMAZON.COM HARZF A              3
22749          AMAZON.COM V AMAZON.COM              3
19256                Amazon Digit HYMW              3
29948         AMAZON.COM HM AMAZON.COM              3
6325            AMAZON.COM  AMAZON.COM              3
8264         AMAZON.COM HPJ AMAZON.COM              3
36579         AMAZON.COM HO AMAZON.COM              3
12645         AMAZON.COM HG AMAZON.COM              3

In [58]:
test_embeddings = model.encode(X_test['DESC'], show_progress_bar=True)

Batches:   0%|          | 0/370 [00:00<?, ?it/s]

In [68]:
X_test['cluster_label'] = kmeans.predict(test_embeddings)

In [69]:
X_test.head()

                                                DESC  cluster_label
0                                   PSYCHOLOGY TODAY              1
1                                           SHOPIFY               2
2                    GUSTO qhk CND  ID NBR: semjtpod              1
3  PAYPAL (AMIR FETHALLAH) (BISKRA WILAYA DE BISK...              1
4        Alva Merch Incom TRANSFER ID NBR: ST-HREPLX              1

In [70]:
X_test['cluster_label'].value_counts()

1    6327
2    2667
0    2214
3     611
Name: cluster_label, dtype: int64

In [72]:
X_test[(X_test['cluster_label']==3)].sample(10)

                                 DESC  cluster_label
7486         AMAZON.COM HG AMAZON.COM              3
11020       AMAZON.COM HYV AMAZON.COM              3
4447         AMAZON.COM GV AMAZON.COM              3
11640        AMAZON.COM LM AMAZON.COM              3
285         AMAZON.COM HCV AMAZON.COM              3
5175                Amazon.com HCKBJD              3
6680         AMAZON.COM QN AMAZON.COM              3
7341        AMAZON.COM HCH AMAZON.COM              3
5400   Amazon Prime FCS Amzn.com/bill              3
9289         AMAZON.COM JG AMAZON.COM              3

In [73]:
X_test.to_clipboard()

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

In [ ]:
# from sklearn.metrics.pairwise import cosine_similarity
# similarity_matrix = cosine_similarity(embeddings)

In [46]:
# import pickle 
# pickle.dump(model, open('model_encoding.pkl', 'wb'))
# pickle.dump(kmeans, open('kmeans.pkl', 'wb'))